* {

    margin: 0;
}

/* header sec */
.head {
    background-image: url("/images/banner/image.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1300px;
    height: 790px;
}

.title {

    width: 525px;
    height: 228px;
    right: 845px;

    font-weight: 700;
    font-size: 60px;
    line-height: 76px;
    padding-top: 25vh;
    padding-left: 230px;
    text-align: left;

}

.h-paragraph {
    width: 494px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-left: 230px;
    padding-top: 25px;

}

.btn-primary {
    width: 100px;
    height: 35px;
    background: rgb(255, 115, 0);
    border-radius: 6px;
    font-weight: 150px;
    font-size: 13px;
    color: white;
    border: 0;
    margin-left: 230px;
    margin-top: 20px;
}

/* middle sec */
.person {
    border-image-outset: 1px;
}

.middle {
    display: flex;
    margin-left: 55px;
    gap: 200px;
}

.title1 {
    width: 288px;
    height: 94px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px
}

.paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-top: 20px;
    padding-bottom: 5px;
    width: 380px;
    height: 104px;
    left: 862px;

}

.mid-head {

    padding-top: 30%;
}

/* plan sec */

.plan-head {

    font-weight: 700;
    font-size: 40px;
    line-height: 30px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 70px;
}

.p-icon {

    display: flex;
    gap: 210px;
    margin-left: 10%;
    margin-right: 50px;
    padding-bottom: 100px;
}

/* mind set */

.mindset {
    background-image: linear-gradient(to left, rgba(214, 32, 32, 0), rgba(157, 9, 9, 0.989)), url("/images/watch.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    margin-left: 10%;
    margin-right: 50px;
    width: 90%;
    background-blend-mode: darken;

}

.mind-title {
    font-weight: 700;
    font-size: 40px;
    width: 459px;
    height: 94px;
    color: white;
    padding-top: 50px;
    padding-left: 40px;
}

.btn-mind {
    width: 100px;
    height: 38px;
    background: whitesmoke;
    border-radius: 6px;
    font-weight: 150px;
    font-size: 14px;
    color: orangered;
    border: 2px orangered solid;
    margin-left: 40px;
    margin-top: 20px;
}

/* footer  */

.footer-con {
    display: flex;
    gap: 15%;
    width: 1300px;
    height: 577px;
    left: 0px;
    top: 2500px;
    background-color: black;
    margin-top: 100px;
}

.f-title {
    width: 148px;
    height: 53px;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: aliceblue;
    margin-left: 200px;
    margin-top: 150px;
}

.f-paragraph {
    width: 485px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: whitesmoke;
    margin-left: 200px;
    margin-top: 30px;

}

.f-email {
    width: 485px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: whitesmoke;
    margin-left: 200px;
    margin-top: 30px;


}

.f-social-img {

    display: flex;
    gap: 20px;
    margin-left: 200px;


}

.f-sub {

    margin-top: 180px;
}

.f-titel-2 {
    color: white;
    width: 123px;
    height: 29px;

}

.f-input {
    margin-top: 25px;
    margin-bottom: 15px;
}

input {
    color: rgb(222, 83, 8);
    background-color: black;
    border: 1px solid;
    border-color: aliceblue;
    width: 225px;
    height: 30px;
}

.btn-s {
    width: 120px;
    height: 45px;
    background: whitesmoke;
    font-weight: 150px;
    font-size: 14px;
    color: orangered;
    border-radius: 5px;
}